


.name h1 {
  padding: 0;
  margin: 0;
}

.name {
  padding: 10px;
}

.header-container {
  display: block;
  background-color: #3a3b89;
  /* background-color: rgb(78, 76, 184); */
  color: white;
}

main {
  background: radial-gradient(circle, rgb(144, 6, 144),rgb(57, 1, 57));
  min-height: 300px;
  padding:20px;
}



#members{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 1rem;
  margin: 20px;
}

#members.listView{
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.toggle-switch input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.listView li{
  list-style-type: none;
  padding: 10px;
}

#members.listView .card {
  background-color: transparent;
  box-shadow: none;
}

.redacted {
  background-color:black;
  color:black;
  border-radius: 3px;
}

.redacted:hover {
  color: white;
}

.card img {
  height: 150px;
  width: auto;
}

.card-toggle-text{
  color: rgb(255, 225, 125);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
}

body.listView .card-toggle-text{
  color: rgb(255, 255, 255);
  background-color:transparent;
  border: none;
}

.list-toggle-text{
  color: rgb(255, 251, 251);
  background-color:transparent;
  border-radius: 10px;
  padding: 10px;
}

body.listView .list-toggle-text{
  color: rgb(255, 225, 125);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  
}


