@media (min-width:641px) and (max-width:1024px){
    .card-ul {
        grid-template-columns: minmax(280px, 300px) 1fr;
        grid-template-areas:
          "photo name"
          "photo description"
          "photo location"
          "photo button";
        justify-items:start;
        align-items: start;
        word-break: break-word;
      }

      .card {
        width: 640px;
        height: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
      }

      .card-ul li {
        width: 100%;
      }


}