@media (min-width: 641px) {
  .card-ul li.photo {
    transition: transform 0.3s ease;
  }

  .card-ul li.photo:hover {
    transform: scale(1.05);
  }
  .card-ul li.description {
    grid-area: description;
  }
  .card-ul li.name {
    grid-area: name;
  }

  .card-ul li.photo {
    grid-area: photo;
  }
  .card-ul li.location {
    grid-area: location;
  }
  .card-ul li.button {
    grid-area: button;
    width: 300px;
    height: 45px;
    border-radius: 10px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .card-ul {
    display: grid;
    grid-template-columns: minmax(280px, 300px) 1fr;
    grid-template-areas:
      "photo name"
      "photo description"
      "photo location"
      "photo button";
    justify-items: start;
    align-items: start;
    word-break: break-word;
  }



  .card {
    width: 640px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .card-ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #destinations {
    display: block;
    margin: 10px auto;
    max-width: 1055px;
    justify-items: center;
    padding: 5px;
  }
}
