.card {
  width: 300px;
}

.card img {
  height: auto;
  width: 300px;
}

.card li {
  list-style: none;

}

#destinations {
  display: block;
  margin: 10px auto;
  max-width: 1055px;
  justify-items: center;
  padding: 5px;
}
