h2{
    color: black;
    background-color: white;
    padding:20px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}
header{
    background-color: #3a3b89;
}

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background: radial-gradient(circle, rgb(144, 6, 144),rgb(57, 1, 57));
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}

main{
    margin: 0 auto;
    max-width: 1560px;
    overflow-x: hidden;
}



.about{
    text-align: center;
}

.hero-img{
    display: block;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1560px;
    
}

picture img{
    width: 300px;
    height: 300px;
}

.glow-cloud{
    width:300px;
    height: 300px;
}

.cards-container, #spotlight{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    
}

.cards-container li{
    list-style-type: none;
}