h2{
    color: black;
    background-color: white;
    padding:20px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}


body{
    
    max-width: 100%;
    overflow-x: hidden;
}

main{
    margin: 0 auto;
    max-width: 1560px;
    overflow-x: hidden;
}



.about{
    text-align: center;
}

.hero-img{
    display: block;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1560px;
    
}

picture img{
    width: 300px;
    height: 300px;
}

.glow-cloud{
    width:300px;
    height: 300px;
}

.cards-container, #spotlight{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    
}

.cards-container li{
    list-style-type: none;
}